@charset "utf-8";
/* CSS Document */

/*------------------------------------------------------------------
[Master Stylesheet]

Project:	Byzanti
Version:	1.0
Author:	Jamil Ahmed
-------------------------------------------------------------------*/



/*------------------------------------------------------------------
    Reset
-------------------------------------------------------------------*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address,
big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl,
dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas,
details, embed,  figure, figcaption, footer, header, hgroup,  menu, nav, output, ruby, section, summary, time, mark, audio,
video {	margin: 0; 	padding: 0;	border: 0;	font-size: 100%;	font: inherit;	vertical-align: baseline;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
ol, ul { list-style: none;}
blockquote, q {	quotes: none;}
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
table {	border-collapse: collapse; border-spacing: 0; }

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }

.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

/*------------------------------------------------------------------
    App Style
-------------------------------------------------------------------*/
.orderD table tr td a{text-decoration:none; color:#000;}
.wellcomBanner {
  background: #414141;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

.header .logo {
  width: 150px;
  float: left;
}

.header .logo a {
  display: block;
}

.header .logo img {
  width: 79px;
  vertical-align: middle;
}

.header .menuSections {
  float: right;
}

.header .menuSections nav ul li {
  display: inline-block;
  margin-left: 40px;
}

.header .menuSections nav {
  display: inline-block;
  line-height: normal;
}

.header .menuSections .othersOptions {
  display: inline-block;
  line-height: normal;
  margin-left: 40px;
}

.header {
  height: 100px;
  line-height: 100px;
}

.header .menuSections nav ul li a {
  color: #fff;
  text-decoration: none;
  font-family: 'Calibri', sans-serif;
  font-weight: 300;
  font-size: 17px;
}

.header .menuSections .othersOptions a {
  display: inline-block;
  color: #fff;
  font-size: 16px;
  margin-right: 20px;
}

.header .menuSections .othersOptions p {
  display: inline-block;
}

.header .menuSections .othersOptions p i {
  color: #fff;
  margin-right: 3px;
}

.header .menuSections .othersOptions select {
  -webkit-appearance: unset;
  background: none;
  color: #fff;
  border: 0px;
}
.header .menuSections nav ul li a.bgs {
  background: #3796f4;
  padding: 9px 26px;
  background-image: linear-gradient(22deg,#0ca6bb,#0e9aad 18%,#359db9 30%,#59a0c5 47%,#7296c9 72%,rgba(141,122,218,.81)),linear-gradient(180deg,#049cb0,#049cb0);
  background-position: 0 0,0 0;
  display: block;
}

.mainBanner {
  text-align: center;
  padding: 150px 0px 205px;
}

.mainBanner h1 {
  font-family: 'Calibri', sans-serif;
  font-size: 36px;
  color: rgba(255, 255, 255, 0.84);
  font-weight: 300;
  margin-bottom: 5px;
}

.mainBanner p {
  font-family: 'Calibri', sans-serif;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.84);
  margin-bottom: 34px;
  font-weight: 300;
}

.mainBanner input[type="text"] {
  background: none;
  border: 1px solid rgba(255, 255, 255, 0.71);
  padding: 10px 10px;
  font-family: 'Calibri', sans-serif;
  font-size: 15px;
  width: 300px;
  color: rgba(255, 255, 255, 0.84);
  margin-right: 15px;
}

.mainBanner input[type="text"]::placeholder {
  color: rgba(255, 255, 255, 0.84);
}

.mainBanner input[type="submit"] {
  font-family: 'Calibri', sans-serif;
  font-size: 15px;
  background: #fff;
  border: 0px;
  color: #3796f4;
  padding: 11px 27px;
  margin-right: 15px;
}

.mainBanner form a {
  font-family: 'Calibri', sans-serif;
  font-size: 15px;
  color: #fff;
  padding: 10.5px 27px;
  border: 1px solid #3796f4;
  text-decoration: none;
}

.EOStable {
  margin-top: 20px;
}

.tableTop form {
  float: right;
  position: relative;
}

.tableTop form input {
  border-radius: 5px;
  width: 200px;
  padding: 7px 10px 7px 30px;
  font-family: 'Calibri', sans-serif;
  font-size: 14px;
  border: 2px solid #eaeaea;
  color: #a9a4a4;
  outline: 0px !important;
}

.tableTop form i {
  position: absolute;
  top: 10px;
  left: 10px;
  color: #a9a4a4;
}

.tableTop p {
  font-family: 'Calibri', sans-serif;
  font-size: 16px;
  padding: 14px 20px 14px 0px;
  display: inline-block;
  margin-bottom: -2px;
  border-bottom: 2px solid #3b9dbb;
  color: #3b9dbb;
  font-weight: bold;
}

.tableTop p i {
  font-size: 13px;
  margin-right: 4px;
}

.tableTop {
  border-bottom: 2px solid #eaeaea;
  margin-bottom: 20px;
}

.EOStable table {
  width: 100%;
  font-family: 'Calibri', sans-serif;
  margin-bottom: 50px;
}

.EOStable table tr th {
  font-size: 16px;
  color: #a5a4a4;
  border-bottom: 2px solid #eaeaea;
  font-weight: bold;
  padding: 15px 20px;
  text-align: left;
}

.EOStable table tr th span {
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
}

.EOStable table tr th span i {
  display: block;
  line-height: 7px;
  margin: 0px;
  font-size: 12px;
  padding: 0px;
}

.EOStable table tr td {
  font-size: 16px;
  color: #a5a4a4;
  border-bottom: 2px solid #eaeaea;
  font-weight: 400;
  padding: 15px 20px;
  text-align: left;
}

.EOStable table tr td.plus {
  color: #33e43a;
}

.EOStable table tr td.minus {
  color: #fd3f3f;
}

.EOStable table + div {
  text-align: center;
}

.EOStable div a {
  text-decoration: none;
  color: #fff;
  background: #000;
  display: inline-block;
  padding: 13px 26px;
  font-weight: 300;
  font-family: 'Calibri', sans-serif;
  font-size: 16px;
}

.EOStable .container {
  border-bottom: 2px solid #d8d8d8;
  padding-bottom: 30px;
  margin-bottom: 30px;
}

.features {
  padding-top: 25px;
}

.featuresTop .left {
  width: 65%;
  float: left;
}

.featuresTop .right {
  width: 35%;
  float: right;
  text-align: center;
}

.featuresTop .left h3 {
  margin-bottom: 70px;
  color: #0e9cb0;
  font-family: 'Calibri', sans-serif;
  font-size: 31px;
  font-weight: 300;
  line-height: 43px;
}

.featuresTop .left ul li {
  font-family: 'Calibri', sans-serif;
  width: 100%;
  margin-bottom: 45px;
}

.featuresTop .left ul li span {
  width: 60px;
  height: 60px;
  display: inline-block;
  float: left;
  box-shadow: 0px 0px 19px -5px #000;
  text-align: center;
  line-height: 57px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 16px;
}

.featuresTop .left ul li span img {
  vertical-align: middle;
}

.featuresTop .left ul li h5 {
  font-size: 17px;
  color: #0e9cb0;
  font-family: 'Calibri', sans-serif;
  margin-bottom: 1px;
}

.featuresTop .left ul li p {
  width: 61%;
  font-size: 15px;
  color: #908f8f;
  line-height: 26px;
}

.featuresTop {
  border-bottom: 2px solid #d8d8d8;
  padding-bottom: 20px;
  margin-bottom: 30px;
}
.featureBottom ul li {
  width: 33%;
  float: left;
  padding: 0px 30px;
  box-sizing: border-box;
  text-align: center;
  font-family: 'Calibri', sans-serif;
}

.featureBottom {
  border-bottom: 2px solid #d8d8d8;
  padding: 30px 0px 80px;
  margin-bottom: 70px;
}

.featureBottom ul li img {
  margin-bottom: 30px;
}

.featureBottom ul li h4 {
  font-size: 20px;
  color: #0e9cb0;
  font-family: 'Calibri', sans-serif;
  margin-bottom: 1px;
  font-weight: 400;
  margin-bottom: 5px;
}

.featureBottom ul li p {
  font-size: 15px;
  color: #a7a7a7;
  line-height: 23px;
}

.callAction { background: url(components/imgs/pam.jpg) no-repeat; background-size: cover; background-position: center; }
.callAction .callInner {
  padding: 100px 0px; opacity: 0.8;
  background-image: -webkit-linear-gradient(68deg,rgba(12, 166, 187, .7),rgba(14, 154, 173, .7) 18%,rgba(53, 157, 185, .7) 30%,#59a0c5 47%,#7296c9 72%,rgba(141,122,218,.81)),-webkit-linear-gradient(270deg,rgba(4, 156, 176, .7),rgba(4, 156, 176, .7));
  background-image: linear-gradient(22deg,rgba(12, 166, 187, .7),rgba(14, 154, 173, .7) 18%,rgba(53, 157, 185, .7) 30%,rgba(89, 160, 197, .7) 47%,rgba(114, 150, 201, .7) 72%,rgba(141,122,218,.81)),linear-gradient(180deg,rgba(4, 156, 176, .7),rgba(4, 156, 176, .7));
}

.callAction .callInner form {
  float: right;
}

.callAction .callInner h5 {
  font-family: 'Calibri', sans-serif;
  font-size: 34px;
  font-weight: 300;
  color: #fff;
}

.callAction .callInner form input[type="text"] {
  width: 200px;
  border: 1px solid #fff;
  background: none;
  color: #fff;
  padding: 8px 10px;
  font-family: 'Calibri', sans-serif;
  font-size: 15px;
}

.callAction .callInner form input[type="text"]::placeholder { color:#fff; }



.callAction .callInner form input[type="submit"] {
  padding: 10px 21px;
  font-family: 'Calibri', sans-serif;
  border: 0px;
  background: #000;
  color: #fff;
  margin-left: 10px;
}
.footer {
  padding: 80px 0px 40px;
}

.footer .widget {
  width: 16%;
  float: left;
  padding: 0px 26px;
  box-sizing: border-box;
}

.footer .widget img {
  width: 125px;
  margin: 0 auto;
  display: block;
  margin-bottom: 20px;
}

.footer .widget p {
  font-family: 'Calibri', sans-serif;
  font-size: 16px;
  color: #bdbdbd;
  margin-bottom: 24px;
  line-height: 23px;
}

.footer .widget:first-child {
  width: 34%;
  padding-left: 0px;
  padding-right: 86px;
}

.footer .widget span {
  font-family: 'Calibri', sans-serif;
  font-size: 16px;
  color: #7284d1;
  line-height: 24px;
}
.EOStable table a {
  padding: 0px;
  background: none !important;
}
.footer .widget ul li a {
  font-family: 'Calibri', sans-serif;
  font-size: 16px;
  color: #b1b1b1;
  text-decoration: none;
}

.footer .widget ul li {
  margin-bottom: 7px;
}

.footer .widget h5 {
  font-family: 'Calibri', sans-serif;
  font-size: 16px;
  margin-bottom: 26px;
}

.lightVersion .header .menuSections nav ul li a.bgs {
  background: none;
  border: 2px solid #fff;
  padding: 7px 24px;
}

.lightVersion .mainBanner form a {
  border-color: #fff;
}
.lightVersion .wellcomBanner {
  background-image: -webkit-linear-gradient(68deg,#0ca6bb,#0e9aad 18%,#359db9 30%,#59a0c5 47%,#7296c9 72%,rgba(141,122,218,.81)),-webkit-linear-gradient(270deg,#049cb0,#049cb0);
  background-image: linear-gradient(22deg,#0ca6bb,#0e9aad 18%,#359db9 30%,#59a0c5 47%,#7296c9 72%,rgba(141,122,218,.81)),linear-gradient(180deg,#049cb0,#049cb0);
  background-position: 0 0,0 0;
}

.EOStable div a {
  background: #007fdc;
  background-image: linear-gradient(22deg,#0ca6bb,#0e9aad 18%,#359db9 30%,#59a0c5 47%,#7296c9 72%,rgba(141,122,218,.81)),linear-gradient(180deg,#049cb0,#049cb0);
  background-position: 0 0,0 0;
}


.lit {
  display: none !important;
}

.lightVersion .drk {
  display: none !important;
}

.lightVersion .lit {
  display: inline-block !important;
}

.lightVersion .callAction .callInner form input[type="submit"] {
  color: #007fdc;
  background: #fff;
}

.pmsField label{
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.mainBanner .pmsField {
  position: relative;
  display: inline-block;
}

.mainBanner .pmsField label {
  position: absolute;
  top: 11px;
  left: 11px;
  font-family: 'Calibri', sans-serif;
  font-size: 15px;
  color: rgba(255, 255, 255, 0.84);
}


.mainBanner .pmsField input[type="text"]:focus + label {
  top: -9px;
  background: #414141;
  color: #3796f4;
}

.mainBanner .pmsField label {
  padding: 0px 7px;
}

.mainBanner .pmsField .active-text + label {
  top: -9px;
  background: #414141;
  color: #3796f4;
}


.lightVersion .mainBanner .pmsField input[type="text"]:focus + label {
  top: -9px;
  background: #007fdc;
  color: #ffffff;
}

.lightVersion .mainBanner .pmsField .active-text + label {
  top: -9px;
  background: #007fdc;
  color: #ffffff;
}

.header .menuSections nav ul li a:hover {
  color: #3796f4;
}

.header .menuSections nav ul li a {
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}



.lightVersion .header .menuSections nav ul li a:hover {
  color: rgba(255, 255, 255, 0.71);
}

.lightVersion .header .menuSections nav ul li a {
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.mainBanner input[type="submit"]:hover {
  background: #3796f4;
  color: #fff;
}

a, input[type="submit"] {
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  cursor: pointer;
}

.mainBanner form a:hover {
  color: #fff;
  background: #3796f4;
}

.header .menuSections nav ul li a.bgs:hover {
  color: #fff;
  opacity: .8;
}

.lightVersion .mainBanner input[type="submit"]:hover {
  background: #3796f4;
  color: #fff;
}
.lightVersion .mainBanner form a:hover {
  color: #007fdc;
  background: #ffffff;
}

.lightVersion .header .menuSections nav ul li a.bgs:hover {
  background: #fff;
  opacity: 1; color:#007fdc;
}
.header .menuSections .othersOptions span.select2.select2-container {
  width: 100px !important;
  font-family: 'Calibri', sans-serif !important;
  margin-left: 3px;
  margin-top: -5px;
}

.tableTop form input {
  width: 150px;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.tableTop form input:focus {
  width: 200px;
  border-color: #3796f4;
}

.EOStable div a {
  background: #007fdc;
  background: #007fdc;
  background-image: linear-gradient(22deg,#0ca6bb,#0e9aad 18%,#359db9 30%,#59a0c5 47%,#7296c9 72%,rgba(141,122,218,.81)),linear-gradient(180deg,#049cb0,#049cb0);
  background-position: 0 0,0 0;
}

.EOStable div a:hover {
  opacity: .8;
}

.callAction .callInner form input[type="submit"]:hover {
  background: #007fdc;
  background-image: linear-gradient(22deg,#0ca6bb,#0e9aad 18%,#359db9 30%,#59a0c5 47%,#7296c9 72%,rgba(141,122,218,.81)),linear-gradient(180deg,#049cb0,#049cb0);
  background-position: 0 0,0 0; color:#fff;}

.footer .widget ul li a:hover {
  color: #007fdc;
}

.EOStable table tr:hover {
  background: rgba(247, 247, 247, 0.66);
}


.tradingHead {
  background: #f7f7f7;
}

.tradingHead .trading {
  background: #fff;
  padding: 10px 20px;
}

.tradingHead .trading .lefts {
  width: 25%;
  float: left;
  border-right: 1px solid #eaeaea;
}

.tradingHead .trading .rights {
  box-sizing: border-box;
  width: 74.5%;
  padding-left: 28px;
  float: right;
}

.tradingHead .trading .lefts > span {
  width: 60px;
  height: 60px;
  display: inline-block;
  margin: 0px;
  padding: 0px;
  text-align: center;
  background: #007fdc;
  font-family: 'Calibri', sans-serif;
  color: #fff;
  line-height: 60px;
  font-weight: bold;
  border-radius: 50%;
  font-size: 17px;
  box-shadow: 0px 0px 15px -2px #000;
  float: left;
  margin-right: 15px;
  
  background-image: linear-gradient(22deg,#0ca6bb,#0e9aad 18%,#359db9 30%,#59a0c5 47%,#7296c9 72%,rgba(141,122,218,.81)),linear-gradient(180deg,#049cb0,#049cb0);
  background-position: 0 0,0 0;
}

.tradingHead .trading .lefts h4 {
  margin: 0px;
  font-family: 'Calibri', sans-serif;
  font-weight: 600;
  line-height: normal;
  margin-top: 7px;
  font-size: 19px;
  margin-bottom: 4px;
}

.tradingHead .trading .lefts p {
  margin: 0px;
  font-family: 'Calibri', sans-serif;
  font-size: 13px;
  line-height: normal;
  color: #007fdc;
}

.tradingHead .trading .rights ul {
  display: flex;
  margin: 0px;
  padding: 0px;
}

.tradingHead .trading .rights ul li {
  width: 100%;
  font-family: 'Calibri', sans-serif;
  color: #a2a2a2;
}

.tradingHead .trading .rights ul li p {
  margin: 0px;
  font-size: 18px;
  color: #a2a2a2;
}

.tradingHead .trading .rights ul li span {
  color: #717171;
  margin-right: 9px;
}

.tradingHead .trading .rights ul li span.plus {
  color: #40ce28;
}

.tradingHead .trading .rights ul li span.minus {
  color: #dc0404;
}

.tradingHead {
  padding: 20px 0px;
}
.tradingCenter {
  background: #f7f7f7;
}

.tradingCenter .left {
  width: 27%;
  float: left;
  background: #fff;
  box-shadow: 0px 0px 17px -6px #000;
  margin-right: 10px;
  padding: 0px 0px;
  box-sizing: border-box;
}

.tradingCenter .right {
  width: 27%;
  float: right;
  background: #fff;
  box-shadow: 0px 0px 17px -6px #000;
  margin-left: 10px;
  box-sizing: border-box;
}

.tradingCenter .center {
  float: left;
  width: 44.2%;
}

.tradingCenter .center img {
  width: 100%;
}

.tradingCenter .left table {
  width: 100%;
}

.tradingCenter .left table thead tr th {
  background: #eaeaea;
  padding: 19px 0px 5px;
  font-family: 'Calibri', sans-serif;
  color: #848484;
}

.tradingCenter .left table tbody tr td {
  padding: 4px 0px;
  text-align: center;
  font-family: 'Calibri', sans-serif;
  color: #848484;
}

.tradingCenter .left table tbody tr td.minus {
  color: #dc0a0a;
}

.tradingCenter .left table tbody tr td.plus {
  color: #1ec515;
}

.tradingCenter .right h3 {
  margin: 0px;
  background: #eaeaea;
  font-family: 'Calibri', sans-serif;
  font-size: 23px;
  padding: 7px 20px;
  color: #969696;
  margin-bottom: 10px;
}


.tradingCenter .right table {
  width: 100%;
}

.tradingCenter .right table thead tr th {
  padding: 10px 0px;
  border-bottom: 1px solid #d8d8d8;
  font-family: 'Calibri', sans-serif;
  color: #848484;
}

.tradingCenter .right table tbody tr td {
  padding: 8px 0px;
  text-align: center;
  font-family: 'Calibri', sans-serif;
  color: #848484;
  border-bottom: 1px solid #f5f5f5;
}

.tradingCenter .right table tbody tr td.minus {
  color: #dc0a0a;
}

.tradingCenter .right table tbody tr td.plus {
  color: #1ec515;
}


.tradingCenter .center .calculator h4 {
  margin: 0px;
  background: #eaeaea;
  font-family: 'Calibri', sans-serif;
  font-size: 23px;
  padding: 7px 20px;
  color: #969696;
  margin-bottom: 10px;
}

.tradingCenter .center .calculator {
  margin-top: 10px;
  background: #fff;
}

.tradingCenter .center .calculator .clearfix div {
  width: 50%;
  float: left;
  padding: 10px 20px;
  box-sizing: border-box;
}

.tradingCenter .center .calculator .red {
  border-left: 1px solid #f3f3f3;
}

.tradingCenter .center .calculator h6 {
  font-family: 'Calibri', sans-serif;
  margin: 0px;
  font-size: 13px;
  color: #36b70e;
  margin-bottom: 13px;
}

.tradingCenter .center .calculator h6 span {
  float: right;
  font-size: 10px;
  color: #969696;
}

.tradingCenter .center .calculator label {
  font-family: 'Calibri', sans-serif;
  font-size: 17px;
  color: #a7a7a7;
  margin-bottom: 10px;
  display: block;
}

.tradingCenter .center .calculator label span {
  float: right;
}

.tradingCenter .center .calculator input[type="text"] {
  font-family: 'Calibri', sans-serif;
  width: 100%;
  padding: 8px 10px;
  margin-bottom: 13px;
  box-sizing: border-box;
  border: 1px solid #eaeaea;
  outline: 0px !important;
  color: #9c9c9c;
}

.tradingCenter .center .calculator input[type="submit"] {
  font-family: 'Calibri', sans-serif;
  font-size: 17px;
  color: #fff;
  width: 100%;
  font-weight: 400;
  border: 0px;
  margin-bottom: 32px;
  background: #2bbd21;
  padding: 7px 0px;
  border-radius: 8px;
}

.tradingCenter .center .calculator .red h6 {
  color: #f10d0d;
}

.tradingCenter .center .calculator .red input[type="submit"] {
  background: #f10d0d;
}
.tradingCenter .right {
  background: #f7f7f7;
}

.tradingCenter .right table {
  background: #fff;
  margin-bottom: 11px;
}



.orderD  {
  background: #f7f7f7;
}

.orderD  table {
  background: #fff;
  margin-bottom: 11px;
}


.orderD h3 {
  margin: 0px;
  background: #eaeaea;
  font-family: 'Calibri', sans-serif;
  font-size: 23px;
  padding: 7px 20px;
  color: #969696;
  margin-bottom: 10px;
}


.orderD table {
  width: 100%;
}

.orderD table thead tr th {
  padding: 10px 0px;
  border-bottom: 1px solid #d8d8d8;
  font-family: 'Calibri', sans-serif;
  color: #848484;
}

.orderD table tbody tr td {
  padding: 8px 0px;
  text-align: center;
  font-family: 'Calibri', sans-serif;
  color: #848484;
  border-bottom: 1px solid #f5f5f5;
}

.orderD table tbody tr td.minus {
  color: #dc0a0a;
}

.orderD table tbody tr td.plus {
  color: #1ec515;
}
.orderD {
  padding-top: 20px;
}

.orderD table {
  margin-bottom: 37px;
}

.orderD h3 {
  margin: 0px;
}

body.lightVersion {
  background: #fff;
}

body {
  background: #0d1939;
}

.wellcomBanner {
  box-shadow: 0px 0px 13px -2px #000;
  position: relative;
  z-index: 999;
}

.tableTop {
  background: #091128;
  padding: 10px 20px 0px;
}

.tableTop {
  margin-bottom: 0px;
}

.tableTop form input {
  background: #0d1939;
}

.EOStable table {
  background: #152247;
  box-shadow: 0px 0px 6px -2px #000;
}

.EOStable table tr th {
  border-bottom: 2px solid rgba(255, 255, 255, 0.30196078431372547);
}

.EOStable table tr td {
  border-bottom: 2px solid rgba(255, 255, 255, 0.30196078431372547);
}

.EOStable table tr:hover {
  background: #0d1939;
}

.featuresTop .left ul li span {
  background: #fff;
}

.footer .widget h5 {
  color: #fff;
}



.lightVersion .tableTop {
  background: #fff;
  padding: 10px 20px 0px;
}

.lightVersion .tableTop form input {
  background: #fff;
}

.lightVersion .EOStable table {
  background: none;
  box-shadow: none;
}

.lightVersion .EOStable table tr td {
  border-bottom: 2px solid #eaeaea;
}

.lightVersion .EOStable table tr th {
  border-bottom: 2px solid #eaeaea;
}

.lightVersion .EOStable table tr:hover {
  background: rgba(247, 247, 247, 0.66);
}

.tradingHead, .tradingCenter, .orderD {
  background: #0d1939;
}

.lightVersion .tradingHead, .lightVersion .tradingCenter, .lightVersion .orderD {
  background: #f7f7f7;
}

.tradingCenter .left table thead tr th, .tradingCenter .right h3, .tradingCenter .center .calculator h4, .orderD h3 {
  background: #091128;
  color: #fff;
}

.lightVersion .tradingCenter .left table thead tr th, .lightVersion .tradingCenter .right h3, .lightVersion .tradingCenter .center .calculator h4, .lightVersion .orderD h3 {
  
  background: #eaeaea;
  color: #969696;
}

.tradingHead .container, .tradingCenter .container, .orderD .container {
  box-shadow: 0px 0px 11px -6px #000;
  position: relative;
  z-index: 9;
}

.lightVersion .tradingHead .container, .lightVersion .tradingCenter .container, .lightVersion .orderD .container {
  box-shadow:none;
  position: relative;
  z-index: 9;
}
.lightVersion .footer .widget h5 {
  color: #444;
}
.tradingHead .trading, .tradingCenter .left, .tradingCenter .right, .tradingCenter .right table, .tradingCenter .center .calculator, .orderD table {
  background: #152247;
}

.lightVersion .tradingHead .trading, .lightVersion .tradingCenter .left, .lightVersion .tradingCenter .right, .lightVersion .tradingCenter .right table, .lightVersion .tradingCenter .center .calculator, .lightVersion .orderD table {
  background: #fff;
}
.tradingCenter .center .calculator input[type="text"] {
  background: #0d1939;
  border: 1px solid #091128;
}
.lightVersion  .tradingCenter .center .calculator input[type="text"] {
  background: #fff;
  border: 1px solid #eaeaea;
}
.supportSearch {
  background: #007fdc;
  text-align: center;
  padding: 113px 0px 143px;
}

.supportSearch form {
  position: relative;
  display: inline-block;
}

.supportSearch input {
  width: 500px;
  height: 40px;
  padding: 0px 10px 0px 35px;
  font-family: 'Calibri', sans-serif;
  font-size: 16px;
  border: 0px;
  border-radius: 25px;
}

.supportPage .wellcomBanner {
  box-shadow: none;
}

.supportSearch i {
  color: #868585;
  position: absolute;
  top: 15px;
  left: 14px;
}

.recntActivity {
  text-align: center;
}

.recntActivity h3 {
  margin: 0px;
  font-size: 25px;
  font-family: 'Calibri', sans-serif;
  margin-bottom: 15px;
}

.recntActivity {
  padding-top: 25px;
}

.recntActivity ul {
  text-align: left;
  padding: 0px;
  margin: 0px;
}

.recntActivity li {
  border-bottom: 1px solid #d8d8d8;
  margin-bottom: 25px;
  padding-bottom: 25px;
}

.recntActivity li a {
  text-decoration: none;
  display: block;
  font-family: 'Calibri', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #909090;
}

.recntActivity li .recent-activity-item-meta {
  float: right;
  margin-top: -32px;
}

.recntActivity li .recent-activity-item-meta p {
  margin: 0px;
  display: inline-block;
  margin-right: 10px;
  font-family: 'Calibri', sans-serif;
  color: #989898;
}

.recntActivity li .recent-activity-item-meta span {
  margin: 0px;
  display: inline-block;
  font-family: 'Calibri', sans-serif;
  color: #989898;
}

.recntActivity li .recent-activity-item-meta span i {
  margin-right: 5px;
}
.lightVersion .supportSearch {
  background: #007fdc;
}
.recntActivity h3 {
  color: #fff;
}

.lightVersion .recntActivity h3 {
  color: #000;
}
.supportSearch {
  background: #414141;
}

.aboutWrap {
  padding: 40px 0px;
}

.aboutWrap h3 {
  font-size: 31px;
  margin: 0px;
  margin-bottom: 30px;
  font-weight: bold;
  font-family: 'Calibri', sans-serif;
  line-height: normal;
  color: #fff;
}

.lightVersion .aboutWrap h3 {
  color: #000;
}

.aboutWrap h5 {
  font-size: 19px;
  margin: 0px;
  margin-bottom: 13px;
  font-weight: bold;
  font-family: 'Calibri', sans-serif;
  line-height: normal;
  color: #fff;
}

.lightVersion .aboutWrap h5 {
  color: #888;
}

.aboutWrap p {
  font-family: 'Calibri', sans-serif;
  color: #888;
  font-size: 16px;
  line-height: 25px;
}




.aboutWrap p strong {
  font-size: 19px;
  margin: 0px;
  margin-bottom: 13px;
  font-weight: bold;
  font-family: 'Calibri', sans-serif;
  line-height: normal;
  color: #fff;
}

.lightVersion .aboutWrap p strong {
  color: #888;
}
.lightVersion .EOStable 
 table td a {
    border: 0px;
    padding: 0px;
    color: #a5a4a4;
}


.tradingHead .trading .lefts p.ind {
  display: none;
}

.openDetail {
  overflow: hidden;
  width: 100%;
  padding: 24px 0px;
  display: none;
}

.openDetail .intro {
  width: 40%;
  float: left;
  padding-top: 30px;
  border-right: 1px solid #dedede;
  padding-right: 15px;
  margin-right: 25px;
}

.openDetail .contrct p {
    font-family: 'Calibri', sans-serif;
    display: inline-block;
    padding-left: 21px;
    width: 23%;
    color: #888;
    font-size: 14px;
    text-align: center;
    margin-bottom: 0px !important;
}

.openDetail .contrct {
  width: 100%;
  float: right;
  margin-top: 10px;
}

.openDetail .contrct p strong {
  display: block;
  font-size: 17px;
  font-weight: bold;
  margin-bottom: 5px;
}

.openDetail .intro h3 {
  margin: 0px;
  color: #808080;
  font-family: 'Calibri', sans-serif;
  font-size: 24px;
  margin-bottom: 6px;
}

.openDetail .intro p {
  font-family: 'Calibri', sans-serif;
  color: #808080;
  font-size: 15px;
}

.tradingHead .trading .lefts p {
  cursor: pointer;
}
.tradingHead .trading .lefts p {
  display: block;
  z-index: 99999;
  position: relative;
}
.tradingHead .trading {
  background: none !important;
  padding: 0px;
}

.tradingHead .trading .lefts {
  background: #fff;
  width: 25%;
  margin-bottom: 10px;
  padding: 20px 20px;
  box-sizing: border-box;
  border-radius: 9px;
  border: 1px solid #e4e4e4;
}

.tradingHead .trading .rights ul li {
  background: #fff;
  border: 1px solid #e4e4e4;
  margin: 0px 5px;
  padding: 28.2px 12px;
  line-height: normal;
  text-align: center;
  border-radius: 9px;
}

.tradingHead .trading .rights ul li p {
  font-weight: bold;
  line-height: normal;
  margin-bottom: 8px;
  font-size: 16px;
  color: #6f6f6f;
}

.tradingHead .trading .rights {
  padding: 0px;
  margin-bottom: 10px;
}

.openDetail {
  background: #fff;
  padding: 10px 20px;
  border-radius: 14px;
  box-sizing: border-box;
  border: 1px solid #e4e4e4;
}

.openDetail .intro {
  padding-top: 15px;
}

.openDetail .contrct {
  margin-top: 0px;
}

.openDetail .contrct p {
  padding-left: 15px;
  margin-bottom: 13px;

}

.lightVersion .tradingHead .trading .lefts h4 { color:#000; }
.tradingHead .trading .lefts h4 { color:#fff; }
.lightVersion .tradingHead .trading .lefts {
  background: #fff;
  border: 1px solid #e4e4e4;
}

.lightVersion .tradingHead .trading .rights ul li {
  background: #fff;
  border: 1px solid #e4e4e4;
}

.lightVersion .tradingHead .openDetail {
  background: #fff;
  border: 1px solid #e4e4e4;
}


.tradingHead .trading .lefts, .tradingHead .trading .rights ul li, .openDetail {
  background: #0d1939;
  border: 1px solid rgba(255, 255, 255, 0.17);
  box-shadow: 0px 0px 16px -6px #000;
}
.tradingCenter .lefts {
  width: 30%;
  float: left;
  background: #fff;
  border: 2px solid #e2e2e2;
}

.tradingCenter .lefts ul li {
  display: inline-block;
  outline: 0px !important;
  width: 100%;
  background: #ececec;
  text-align: center;
}

.tradingCenter .lefts ul {
  display: flex;
}

.tradingCenter .lefts ul li a {
  color: #5f5e5e;
  text-decoration: none;
  font-family: 'Calibri', sans-serif;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 0px;
  outline: 0px !important;
  margin-top: -2px;
  display: block;
  border-top: 2px solid rgba(0, 0, 0, 0);
}

.tradingCenter .lefts ul li.ui-tabs-active a {
  background: #fff;
  border-color: #007fdc;
}

.tradingCenter .lefts table tr th {
  padding: 10px 0px;
  font-family: 'Calibri', sans-serif;
  font-size: 14px;
  color: #949393;
  font-weight: bold;
  border-bottom: 1px solid #d0d0d0;
}

.tradingCenter .lefts table {
  width: 100%;
}

.tradingCenter .lefts table tr td {
  padding: 10px 0px;
  font-family: 'Calibri', sans-serif;
  font-size: 14px;
  color: #949393;
  border-bottom: 1px solid #e6e6e6;
  text-align: center;
}

.tradingCenter .lefts table tr td.minus {
  color: #d40909;
}

.tradingCenter .lefts table tr td.plus {
  color: #39bf0f;
}
.tradingCenter .center {
  width: 69%;
  border: 2px solid #e2e2e2;
  border-left: 0px;
}
.tradingCenter .right{ display:none; }

.tradingCenter .center article {
  width: 100%;
}

.tradingCenter .center article div {
  width: 100% !important;
}
.tradingCenter .center article {
  height: 563px;
}

.tradingCenter .center article div {
  height: 100% !important;
}

.tradingCenter .lefts {
  min-height: 991px;
}

.tradingCenter .lefts {
  background: #152247;
}

.lightVersion .tradingCenter .lefts {
  background: #fff;
}

.tradingCenter .lefts ul li a {
  background: #091128;
}

.tradingCenter .lefts ul li.ui-tabs-active a {
  background: #152247;
}

.lightVersion .tradingCenter .lefts ul li a {
  background: #ececec;
}

.lightVersion .tradingCenter .lefts ul li.ui-tabs-active a {
  background: #fff;
}
.tradingCenter .lefts table tr td.minus, .tradingCenter .lefts table tr td.plus {
  cursor: pointer;
}

.signInPopup {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.69);
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 999;
  display: none;
}

.signInPopup .inners {
  background: #fff;
  width: 800px;
  position: absolute;
  left: 50%;
  margin-left: -400px;
  text-align: center;
  padding: 20px 0px;
  top: 50%;
  margin-top: -126px;
}

.signInPopup .inners a.cls {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 0px;
    color: #c5c5c5;
    font-size: 20px;
}

.signInPopup .inners img {
    display: block;
    margin: 0 auto 21px;
}

.signInPopup .inners a.sgn {
    border: 1px solid #149ffc;
    color: #149ffc;
    padding: 12px 62px;
    display: inline-block;
    text-decoration: none;
    font-family: 'Calibri', sans-serif;
    margin-bottom: 23px;
    font-size: 17px;
    border-radius: 5px;
}

.signInPopup .inners p {
    font-family: 'Calibri', sans-serif;
    font-size: 17px;
    color: #868686;
    margin: 0px;
}

.mdl-layout.mdl-js-layout.is-upgraded {
  position: static;
}
.full {overflow: auto !important;}
.full .fullscreen, .smallscreen {display:none !important;}
.header .menuSections .othersOptions a.dark {display:none;}
.full .smallscreen {display:inline-block !important;}
.lightVersion .EOStable table td a.trade {
  color: #7294ca;
  font-weight: bold;
}

.footer img {
  width: 110px;
  margin-bottom: 13px;
}

.footer {
  text-align: center;
}

.footer p {font-family: 'Calibri', sans-serif;font-size: 17px;margin: 0px;font-weight: 400;margin-bottom: 5px;color: #989898;}

.footer span {
  font-family: 'Calibri', sans-serif;
  font-size: 17px;
  font-weight: 400;
  color: #989898;
  display: block;
  margin-bottom: 15px;
}

.footer ul {
  margin: 0px;
  padding: 0px;
}

.footer ul li {
  display: inline-block;
  margin: 0px 10px;
}

.footer ul li a {
  font-family: 'Calibri', sans-serif;
  font-size: 17px;
  font-weight: 400;
  color: #989898;
  display: block;
}

.footer {
  padding: 40px 0px;
}
.contactPage .leftDetails {
  width: 40%;
  float: left;
  padding-right: 20px;
  box-sizing: border-box;
}

.contactPage .rightName {
  width: 60%;
  float: right;
}

.contactPage .rightName form div {
  display: flex;
}

.contactPage .rightName div input {
  width: 100%;
  border: 1px solid #d0d0d0;
  padding: 11px 10px;
  margin: 0px 7px 15px;
  font-family: 'Calibri', sans-serif;
  border-radius: 4px;
  font-size: 15px;
}

.contactPage .rightName textarea {
  width: 98%;
  border: 1px solid #d0d0d0;
  padding: 11px 10px;
  margin: 0px 7px 15px;
  font-family: 'Calibri', sans-serif;
  border-radius: 4px;
  font-size: 15px;
  box-sizing: border-box;
  height: 100px;
  resize: none;
}

.contactPage .rightName {padding-top:30px;}
.contactPage .rightName input[type="submit"] {
  background: #728dcd;
  border: 0px;
  color: #fff;
  padding: 10px 20px;
  font-family: 'Calibri', sans-serif;
  font-size: 19px;
  margin-left: 7px;
  border-radius: 5px;
}
#signout{
  display:none;
}


.orderTacker h4 {
  margin: 0px;
  margin: 0px;
  background: #eaeaea;
  font-family: 'Calibri', sans-serif;
  font-size: 23px;
  padding: 7px 20px;
  color: #969696;
  margin-bottom: 10px;
}

.orderTacker {
  background: #152247;
}

.lightVersion .orderTacker {
  background: #fff;
}


.tradingCenter .orderTacker h4 {
  background: #091128;
  color: #fff;
}

.lightVersion .orderTacker h4 {
  background: #eaeaea;
  color: #969696;
}

.orderTacker table thead tr th {
  padding: 10px 15px;
  font-family: 'Calibri', sans-serif;
  font-size: 14px;
  color: #949393;
  font-weight: bold;text-align: left;
  border-bottom: 1px solid #d0d0d0;
}

.orderTacker table {
  width: 100%;
}

.orderTacker table tr td {
  padding: 9px 15px 10px;
  font-family: 'Calibri', sans-serif;
  font-size: 13px;
  color: #949393;
  border-bottom: 1px solid #e6e6e6;
  text-align: left;
}
.tradingCenter .lefts table tr:last-child td {
  border: 0px;
}
.orderTacker table tr:last-child td {border: 0px;}
.orderTacker table tr td.plus {
  color: #39bf0f;
  cursor: pointer;
}

.lightVersion .tradingCenter .center .calculator input[type="text"] {
  border-radius: 23px;
  height: 40px;
}

.tradingCenter .center .calculator label {
  font-size: 12px;
  margin-bottom: 3px;
  padding: 0px 7px;
}

.tradingCenter .center .calculator  input[type="submit"] {
  background: #0ca4b8;
  border-radius: 33px;
  height: 41px;
  outline: 0px;
}

.tradingCenter .center .calculator .red input[type="submit"] {background: #7383d2;}


.tradeWrap {
    background: rgba(0, 0, 0, 0.62);
    top: 0px;
    left: 0px;
    position: fixed;
    z-index: 99;
    width: 100%;
    height: 100%;
}

.orderD {
}

.tradingCenter {
    z-index: 9999999;
    position: relative;
}

.tradeWrap .tradeView {
    position: absolute;
    top: 50%;
    left: 50%;
    background: #fff;
    width: 900px;
    margin-left: -450px;
    border-radius: 6px;
    padding: 20px 30px;
    margin-top: -180px;
    box-sizing: border-box;
}

.tradeWrap .tradeView a.closeView {
    position: absolute;
    top: 11px;
    right: 15px;
    color: #afadad;
    font-size: 19px;
}

.tradeWrap .tradeView .viewTop {
    border-bottom: 1px solid #efefef;
    padding-bottom: 15px;
    margin-bottom: 15px;
}

.tradeWrap .tradeView .viewTop ul {
    display: flex;
}

.tradeWrap .tradeView .viewTop ul li {
    width: 100%;
    padding-top: 15px;
    text-align: center;
    font-family: 'Calibri', sans-serif;
    font-size: 17px;
}

.tradeWrap .tradeView .viewTop ul li span {
    display: block;
    font-weight: bold;
    color: #868686;
    margin-bottom: 3px;
}

.tradeWrap .tradeView .viewBottom ul {
    width: 50%;
    float: left;
}

.tradeWrap .tradeView .viewBottom ul li h3 {
    margin: 0px;
    font-family: 'Calibri', sans-serif;
    font-size: 18px;
    font-weight: bold;
    background: #41ab0b;
    color: #fff;
    line-height: normal;
    padding: 7px 20px;
    box-sizing: border-box;
    border-radius: 4px;
    margin-bottom: 10px !important;
}

.tradeWrap .tradeView .viewBottom ul li {
    padding: 0px 20px 0px 20px;
    margin-bottom: 3px;
    font-family: 'Calibri', sans-serif;
    font-size: 15px;
    color: #676666;
}

.tradeWrap .tradeView .viewBottom ul:last-child li h3 {
    background: #ea1212;
}

.tradeWrap .tradeView .viewBottom ul span {
    font-weight: bold;
    width: 142px;
    display: inline-block;
}

.tradeWrap .tradeView .viewBottom ul {
    border-right: 1px solid #dcdcdc;
    box-sizing: border-box;
}

.tradeWrap .tradeView .viewBottom ul:last-child {
    border: 0px;
}

.tradeWrap .tradeView .viewBottom {
    margin-top: 30px;
}

.tradeWrap .tradeView .viewBottom ul li cite.tradeId {
    color: #28bfd0;
}
.tradeWrap {
  display: none;
}
.orderTacker table tr td.plus.EOS {
  color: red;
}

.orderTacker table {
  display: block;
  width: 100%;
  overflow: auto;
  height: 286px;
}

.orderTacker table thead th {
  width: 4%;
}

.orderTacker table tr td a{text-decoration:none; color:#000;}
.orderD .openOrder {
  height: 300px;
  overflow: auto;
  display: block;
}

.orderD .openOrder tr th {
  width: 1%;
}
.signInPopup {
    z-index: 9999999999;
}
.orderD table tbody tr.other {
  display: none;
}

.orderD table tbody tr.other:first-child {
  display: table-row;
}
.tradeWrap .tradeView .viewTop ul li {
  background: #efefef;
  margin: 0px 5px;
  border: 1px solid #d6d6d6;
  border-radius: 7px;
  padding: 17px 0px;
  font-size: 14px;
  line-height: normal;
}

.tradeWrap .tradeView .viewTop ul li span {
  margin-bottom: 10px;
}

.tradeWrap .tradeView .viewBottom ul li h3 {
    background: #0ca6bb;
}

.tradeWrap .tradeView .viewBottom ul:last-child li h3 {
    background: #59a0c5;
}

.tradeWrap .tradeView .viewBottom ul li {
    border-bottom: 1px solid #e6e6e6;
    padding: 7px 6px;
    margin: 0px 21px;
}

.tradeWrap .tradeView .viewBottom ul li:first-child {
    padding: 0px;
    border: 0px;
}

.tradeWrap .tradeView .viewBottom ul li h3 {
    margin: 0px !important;
}

.tradeWrap .tradeView {
    margin-top: -218px;
}
.calculator {
  width: 58%;
  float: left;
  border: 2px solid #e2e2e2;
  margin-left: -2px;
  box-sizing: border-box;
}

.orderTacker {
  width: 42.47%;
  float: left;
  margin-top: 10px;
  border: 2px solid #e2e2e2;
  margin-left: -2px;
  border-right: 0px;
  box-sizing: border-box;
}

.orderTacker table {
  height: 358px;
}

.orderD table tbody tr {cursor: pointer;}
.orderD table tbody tr td.EOS {
  color: red;
}

.orderWrap {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 999999999;
  background: rgba(0, 0, 0, 0.69);
  width: 100%;
  height: 100%;
  display: none;
}

.orderWrap .orderView {
  background: #fff;
  width: 900px;
  position: absolute;
  left: 50%;
  margin-left: -450px;
  border-radius: 6px;
  margin-top: -218px;
  top: 50%;
}

.orderWrap .orderView a.closeView {
  position: absolute;
  top: 20px;
  right: 18px;
  color: #929292;
  font-size: 21px;
}

.orderWrap .orderView h3 {
  margin: 0px;
  font-family: 'Calibri', sans-serif;
  font-size: 25px;
  color: #319db8;
  border-bottom: 1px solid #ececec;
  padding: 9px 15px;
  margin-bottom: 15px;
  box-shadow: 0px 0px 12px -6px #000;
}

.orderWrap .orderView .viewBottom {
  padding: 0px 19px 20px;
}

.orderWrap .orderView .viewBottom ul li {font-family: 'Calibri', sans-serif;border-bottom: 1px solid #ececec;padding: 6px 20px;}

.orderWrap .orderView .viewBottom ul li span {
  font-weight: bold;
  color: #a7a7a7;
  font-size: 16px;
}

.orderWrap .orderView .viewBottom ul li cite {
  float: right;
}

div#tv_chart_container {
  width: 100%;
  height: 563px;
  overflow: hidden;
}

div#tv_chart_container iframe {
  width: 108% !important;
  height: 100%;
  margin-left: -58px;
}




@media only screen and (max-width: 600px)
{
  .container {
      width: 90%;
      margin: 0 auto;
  }
  .header .logo {
    float: none;
    width: 100%;
    text-align: center;
    margin: 10px 0px 25px;
}

.header .menuSections {
    float: none;
    text-align: center;
}

.header .menuSections nav ul li {
    margin-left: 0px;
    margin-right: 17px;
    margin-bottom: 20px;
}

.header {
    height: auto;
    line-height: normal;
    padding: 10px 0px 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.header .menuSections .othersOptions {
    display: block;
    margin: 0px;
    margin-top: 13px;
}

.header .menuSections .othersOptions a {
    margin-right: 39px;
}

.mainBanner {
    padding: 70px 0px 100px;
}

.mainBanner h1 {
    font-size: 24px;
}

.mainBanner p {
    font-size: 15px;
}

.mainBanner .pmsField {
    width: 100%;
    margin-bottom: 11px;
}

.mainBanner input[type="text"] {
    width: 100%;
    margin: 0px;
    box-sizing: border-box;
}

.tableTop form input {
    width: 100px;
}

.tableTop form input:focus {
    width: 150px;
}

.EOStable table tr th {
    min-width: 100px;
}

.EOStable table {
    display: block;
    overflow: auto;
}

.featuresTop .left {
    width: 100%;
}

.featuresTop .left ul li p {
    width: 100%;
}

.featuresTop .right {
    width: 100%;
}

.featureBottom ul li {
    width: 100%;
    margin-bottom: 10px;
}

.callAction .callInner form {
    float: none;
    margin-bottom: 12px;
}

.footer .widget {
    padding: 0px;
    width: 100%;
    margin-bottom: 12px;
}


.footer .widget:first-child {
    padding: 0px;
    width: 100%;
}

.footer .widget span {
    display: none;
}

}

